{{- if .Values.certmanager.enabled }}
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ include "lldap.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "lldap.labels" . | nindent 4 }}
spec:
  commonName: {{ include "lldap.fullname" . }}-cert
  secretName: {{ include "lldap.fullname" . }}-tls
  issuerRef:
    {{- toYaml .Values.certmanager.issuerRef | nindent 4 }}
{{- end }}
