apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "lldap.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "lldap.labels" . | nindent 4 }}
  annotations:
    lldap: https://github.com/nitnelave/lldap
    k8s: https://github.com/Evantage-WS/lldap-kubernetes
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "lldap.selectorLabels" . | nindent 6 }}
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        {{- include "lldap.selectorLabels" . | nindent 8 }}
      annotations:
        lldap: https://github.com/nitnelave/lldap
        k8s: https://github.com/Evantage-WS/lldap-kubernetes
    spec:
      serviceAccountName: {{ include "lldap.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: lldap
          image: "{{ .Values.image.repository }}:{{ include "lldap.imageTag" . }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          {{- with .Values.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          env:
            - name: GID
              value: "{{ .Values.env.GID }}"
            - name: UID
              value: "{{ .Values.env.UID }}"
            - name: TZ
              value: "{{ .Values.env.TZ }}"
            - name: LLDAP_JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: {{ if .Values.secret.useExisting }}{{ .Values.secret.name }}{{ else }}{{ include "lldap.fullname" . }}{{ end }}
                  key: lldap-jwt-secret
            - name: LLDAP_LDAP_BASE_DN
              valueFrom:
                secretKeyRef:
                  name: {{ if .Values.secret.useExisting }}{{ .Values.secret.name }}{{ else }}{{ include "lldap.fullname" . }}{{ end }}
                  key: base-dn
            - name: LLDAP_LDAP_USER_DN
              valueFrom:
                secretKeyRef:
                  name: {{ if .Values.secret.useExisting }}{{ .Values.secret.name }}{{ else }}{{ include "lldap.fullname" . }}{{ end }}
                  key: lldap-ldap-user-name
            - name: LLDAP_LDAP_USER_PASS
              valueFrom:
                secretKeyRef:
                  name: {{ if .Values.secret.useExisting }}{{ .Values.secret.name }}{{ else }}{{ include "lldap.fullname" . }}{{ end }}
                  key: lldap-ldap-user-pass
            {{- if .Values.env.LDAPS_OPTIONS__ENABLED }}
            - name: LLDAP_LDAPS_OPTIONS__ENABLED
              value: {{ .Values.env.LDAPS_OPTIONS__ENABLED | quote }}
            - name: LLDAP_LDAPS_OPTIONS__CERT_FILE
              value: {{ .Values.env.LDAPS_OPTIONS__CERT_FILE }}
            - name: LLDAP_LDAPS_OPTIONS__KEY_FILE
              value: {{ .Values.env.LDAPS_OPTIONS__KEY_FILE }}
            {{- else }}
            - name: LLDAP_KEY_SEED
              valueFrom:
                secretKeyRef:
                  name: {{ if .Values.secret.useExisting }}{{ .Values.secret.name }}{{ else }}{{ include "lldap.fullname" . }}{{ end }}
                  key: lldap-key-seed
            {{- end }}
            {{- if .Values.extraEnv }}
            {{- toYaml .Values.extraEnv | nindent 12 }}
            {{- end }}
          ports:
            - name: ldap
              containerPort: {{ .Values.service.ports.ldap }}
            {{- if .Values.env.LDAPS_OPTIONS__ENABLED }}
            - name: ldaps
              containerPort: {{ .Values.service.ports.ldaps }}
            {{- end }}
            - name: web
              containerPort: {{ .Values.service.ports.web }}
          volumeMounts:
            {{- if .Values.persistence.enabled }}
            - mountPath: /data
              name: lldap-data
            {{- end }}
            {{- if .Values.extraVolumeMounts }}
            {{- toYaml .Values.extraVolumeMounts | nindent 12 }}
            {{- end }}
      volumes:
        {{- if .Values.persistence.enabled }}
          {{- if .Values.persistence.existingVolumeClaim }}
        - name: lldap-data
          persistentVolumeClaim:
            claimName: {{ .Values.persistence.existingVolumeClaim }}
          {{- else }}
        - name: lldap-data
          persistentVolumeClaim:
            claimName: {{ include "lldap.fullname" . }}
          {{- end }}
        {{- end }}
        {{- if .Values.extraVolumes }}
        {{- toYaml .Values.extraVolumes | nindent 8 }}
        {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
