name: Helm Chart Pre-Check

on:
  pull_request:
    branches:
      - main
    paths:
      - 'charts/**'
  push:
    branches:
      - main
    paths:
      - 'charts/**'

jobs:
  helm-precheck:
    runs-on: ubuntu-latest
    name: Helm Lint & Template Test

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Helm
        uses: azure/setup-helm@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Helm Lint
        run: helm lint ./charts/lldap

      - name: Helm Template Dry-Run
        run: helm template lldap ./charts/lldap --namespace default
